<%= link_to "Create a new recipe", "/recipes/new" %>
<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="well">
        <h2>Title: <%= link_to recipe.title, "/recipes/#{recipe.id}" %></h2>
        <p>Chef: <%= recipe.chef %></p>
        <p>Updated at: <%= recipe.friendly_updated_at %></p>
        <img src="<%= recipe.image %>" alt="">
        <!-- <p>Ingredients: <%= recipe.ingredients %></p> -->
        <h2>Ingredients</h2>
        <ul>
          <% recipe.ingredients_list.each do |ingredient| %>
            <li><%= ingredient %></li>
          <% end %>
        </ul>
        <!-- <p>Directions: <%= recipe.directions %></p> -->
        <h2>Directions</h2>
        <ol>
          <% recipe.directions_list.each do |direction| %>
            <li><%= direction %></li>
          <% end %>
        </ol>
      </div>
    </div>
  <% end %>
</div>

