  <h2>Title: <%= @recipe.title %></h2>
  <p>Chef: <%= @recipe.chef %></p>
  <p>Ingredients: <%= @recipe.ingredients %></p>
  <p>Directions: <%= @recipe.directions %></p>
  <%= link_to "Edit this recipe", "/recipes/#{@recipe.id}/edit" %>
  <%= link_to "Delete this recipe", "/recipes/#{@recipe.id}", method: :delete %>
  <%= link_to "Back to all recipes", "/recipes" %>
  