  <h2>Title: <%= @recipe.title %></h2>
  <p>Chef: <%= @recipe.chef %></p>
  <p>Ingredients: <%= @recipe.ingredients %></p>
  <p>Directions: <%= @recipe.directions %></p>
  <%= link_to "Back to all recipes", "/recipes" %>
  